
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body div class="view" style="background-image: url('https://png.pngtree.com/element_our/png/20181031/abstract-light-colors-hexagon-background-png_223415.jpg'); background-repeat: no-repeat; background-size:cover; background-position: center center;">
<h2>CONCEPTS</h2>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ECE</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('file_upload')}}">fileupload</a></li>
      <li><a href="{{url_for('data_html')}}">dummydata</a></li>
      <li><a href="{{url_for('showData')}}">Showdata</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="{{url_for('email')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</div>

</body>
</html>